@media (max-width: 820px) {




    body {
        display: flex;
        gap: 5rem;

        background: hsl(257, 40%, 49%) url('../images/bg-mobile.svg') no-repeat;
        background-size: contain;
        justify-content: flex-start;

        padding: 2rem;
    }


    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        margin-top: 6rem;
    }


    .header img {
        margin: 6rem 0 6rem 6rem;
        width: 28rem;

    }

    .main img {
        max-width: 100%;
        margin-top: 0.5rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        gap: 3rem;
        text-align: center;
        margin-top: 2rem;
    }

    .content h1 {
        font-size: 4.5rem;
        line-height: 6rem;
        margin-top: 4rem;
    }

    .content p {
        font-size: 3.3rem;
    }


    .btn {
        margin-top: 3rem;
        width: 42rem;
        padding: 2.5rem;
        font-size: 2.8rem;
        border-radius: 5rem;

    }


    .social {
        justify-content: center;
        margin: 8rem 0 3rem 0;
    }


    .social svg {
        height: 45px;
        width: 45px;
    }


}





@media (max-width: 560px) {


    .header img {
        margin: 3rem 0 0 2.5rem;
        width: 18rem;

    }

    .content {
        max-width: 85%;
    }

    .content h1 {
        max-width: 100%;
        font-size: 2.9rem;
        line-height: 4.5rem;
    }

    .content p {
        font-size: 1.75rem;
    }


    .btn {
        margin-top: 3rem;
        width: 26rem;
        padding: 1.5rem;
        font-size: 1.8rem;
        border-radius: 5rem;

    }


    .social {
        justify-content: center;
        margin: 8rem 0 3rem 0;
    }


    .social svg {
        height: 25px;
        width: 25px;
    }



}




@media (max-width: 414px) {

    .content h1 {
        font-size: 2.8rem;
    }

}


@media (max-width: 401px) {


    .header img {
        margin: 1.7rem 0 0 1.7rem;
        width: 14rem;

    }

    .content {
        gap: 1.5rem;
        margin-top: 0;
    }

    .content h1 {
        max-width: 100%;
        font-size: 2.59rem;
        line-height: 4.5rem;
        margin-top: 1rem;
    }

    .content p {
        font-size: 1.7rem;
    }



}








@media (max-width: 375px) {


    .header img {
        margin: 1.7rem 0 0 1.7rem;
        width: 14rem;

    }

    .content {
        gap: 1.5rem;
        margin-top: 0;
    }

    .content h1 {
        max-width: 100%;
        font-size: 2.3rem;
        line-height: 4.5rem;
        margin-top: 1rem;
    }

    .content p {
        font-size: 1.7rem;
    }



}