body {
    font-family: 'Open Sans', sans-serif;
    background: hsl(257, 40%, 49%) url('../images/bg-desktop.svg') no-repeat center/cover;
    color: white;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.header img {
    margin: 6rem 0 0 8rem;
}



main {
    display: flex;
    justify-content: center;
    gap: 6rem;
}



.content {
    display: flex;
    flex-direction: column;
    max-width: 65rem;
    gap: 3rem;
}

.content h1 {
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 4rem;
    line-height: 6rem;
    width: 50rem;
    margin-top: 4rem;
}

.content p {
    font-size: 2.3rem;
    font-weight: 300;
}


.btn{
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    width: 24.5rem;
    padding: 2rem;
    text-align: center;
    border-radius: 3.5rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.521);
    font-size: 2rem;
}


.btn:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}


.social{
    display: flex;
    justify-content: flex-end;
    margin: 0 10rem 4rem 0;
    gap: 2rem;
}




.social a {
    display: flex;
    border: 1.8px solid white;
    border-radius: 50%;
    padding: 0.8rem;
    font-size: 3rem;
    color: white;
}

.social svg{
    height: 27px;
    width: 27px;
    fill: #fff;
}


.social a:hover{
    border: 1.8px solid #ff52c4;
}

.social a:hover svg{
    fill: #ff52c4;
}


